<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">STOQK</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item {{#ifEq name "english"}}active{{/ifEq}}">
                <a class="nav-link" href="/english">English</a>
            </li>
            <li class="nav-item {{#ifEq name "urdu"}}active{{/ifEq}}">
                <a class="nav-link" href="/urdu">Urdu</a>
            </li>
            <li class="nav-item {{#ifEq name "vocabulary"}}active{{/ifEq}}">
                <a class="nav-link" href="/vocabulary">Vocabulary</a>
            </li>
        </ul>

        <form class="form-inline my-0 mr-auto ml-auto">
            <div id="chapter-group" class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="chapter-select">Chapter</label>
                </div>
                <select id="chapter-select">
                    {{#each options}}
                        <option value="{{val}}">{{text}}</option>
                    {{/each}}
                </select>
            </div>
<!--            <button class="btn btn-primary my-2 my-sm-0" type="submit">Submit</button>-->
        </form>
        <div>
            <button class="btn btn-primary">Sub</button>
            <button class="btn btn-primary">Sub</button>
            <button class="btn btn-primary">Sub</button>
        </div>
    </div>
</nav>