<div class="wrapper">
    <img id="1" class="current" src="https://via.placeholder.com/1600x720?text=1">
    <img id="2" src="https://via.placeholder.com/1600x720/808080?text=2">
    <img id="3" src="https://via.placeholder.com/1600x720?text=3">
    <img id="4" src="https://via.placeholder.com/1600x720/808080?text=4">
    <img id="5" src="https://via.placeholder.com/1600x720?text=5">
</div>
