<div class="content">
    {{> border}}
    <div class="slides-wrapper">
        {{#each img_paths}}
            {{#if @first}}
                {{> slide img_path=this current=true}}
            {{else}}
                {{> slide img_path=this current=false}}
            {{/if}}
        {{/each}}
    </div>
    {{> border}}
</div>
{{> nav options=options}}
